    <footer class="mt-auto bg-white dark:bg-gray-800 border-t dark:border-gray-700 py-6 text-center">
        <p class="text-gray-600 dark:text-gray-400">&copy; <%= new Date().getFullYear() %> <%= siteName %>. All rights reserved.</p>
    </footer>
</body>
</html>
