# Server
PORT=3000
NODE_ENV=production
SITE_NAME="ShortZlinks"
BASE_URL="http://localhost:3000"

# Database
MONGO_URI="mongodb://localhost:27017/shortzlinks"

# Primary Email (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password"

# Fallback Email (API Key) - Example: Brevo
EMAIL_API_KEY="your_brevo_api_key_here"


# Security & Sessions
SESSION_SECRET="your_ultra_secure_session_secret_here"
JWT_SECRET="your_jwt_secret_for_redirection_flow"

# External APIs
PROXYCHECK_API_KEY="your_proxycheck_io_api_key"
TURNSTILE_SECRET_KEY="your_cloudflare_turnstile_secret"

# Admin Defaults (Auto-created on first boot)
ADMIN_EMAIL="admin@shortzlinks.com"
ADMIN_PASSWORD="SuperSecurePassword123!"
